target
out
.classpath
.project
.settings
.idea
*.iml
*.ipr
*.iws
*.orig
.cache
filtercondition
pushed.log
test_users.txt
junit-report
/micloudsupportweb
*_nogit_*
release.properties
*.factorypath
.DS_Store
*.log
project/build.properties
project/artifact
*.swp
`